@font-face {
    font-family: "Norse";
    src: url("media/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    height: 100vh;
}

.image-section {
    flex: 1;
    background-image: url(media/halie-west-ferns.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    height: 20vh;
    bottom: 60%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px; 
}

.overlay img {
    width: 20%;
    height: auto;
}

.logo-text {
    font-family: "Norse", sans-serif;
    font-size: clamp(18px, 12vw, 72px);
}

.text-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    background: rgba(0,128,0,.1);
}

.text-section > div {
    flex: 1;
}

.instructions-container {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desire {
    padding-bottom: 40px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.form-text{
    font-size: clamp(20px);
    padding-bottom: 10px;
}

.form-row-1,
.form-row-2,
.form-row-3 {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.form-field {
    flex: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:invalid{
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
}

/* input:valid{
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.4);
} */

input:focus{
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0,123,255, 0.6);
}

.login-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.login-container button {
    border-radius: 6px;
    background-color: darkolivegreen;
    color: white;
    width: 150px;
}

/* to do: button, js, */